<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Listing</title>
    <%- include("../includes/head") %>
    <link rel="stylesheet" href="/css/listing/new.css">

    <style>
        h1 {
          text-align: center;
          margin: 2vw 0;
        }
        form {
          margin-inline: auto;
          margin-bottom: 7vw;
          width: 70%;
        }
        form input,textarea,button,select {
          padding: 0.5rem 1rem;
          width: 100%;
          font-size: 1.2rem;
        }
        label{
          font-weight: bold;
        }
        .box {
          margin: 1.5rem 0;
        }
        .btn{
          border: none;
          width: 100%;
          font-size: larger;
          background-color: greenyellow;
        }
        .btn-center{
          width: 70%;
          margin: 0 auto;
        }
      </style>
    </head>
    <body>
        <%- include("../includes/header") %>
        <h1>New Listing</h1>

        <form action="/listings/new" method="post">
            <div class="box">
          <label for="title">Title:</label>
          <input
            type="text"
            name="listing[title]"
            required
            id="title"
          />
        </div>
        <div class="box">
          <label for="desc">Description:</label>
          <textarea name="listing[description]"
          required id="desc" cols="30" rows="5"></textarea
          >
        </div>
        <div class="box">
          <label for="imgurl">Image URL:</label>
          <input
            type="text"
            name="listing[image][url]"
            id="imgurl"
          />
        </div>
        <div class="box">
          <label for="price">Price:</label>
          <input
            type="text"
            name="listing[p
            requiredrice]"
            id="price"
          />
        </div>
        <div class="box">
          <label for="location">Location:</label>
          <input
            type="text"
            required
            name="listing[location]"
            id="location"
          />
        </div>
        <div class="box">
          <label for="country">Country:</label>
          <input
            type="text"
            required
            name="listing[country]"
            id="country"
          />
        </div>
        <div class="box">
            <label for="desc">Category:</label>
            <select name="category" id="" required>
              <option value="" disabled selected>Select Category Of Listing</option>
                <% category.forEach(element => { %>
                 <option value="<%= element %>"><%= element %></option>
                <% }) %>
            </select>
          </div>
        <div class="box">
            <label for="desc">Tags:</label>
            <textarea name="listing[usertags]"
            required id="desc" cols="30" rows="10" placeholder="Give a Space Or Comma After Each Tag."></textarea
            >
          </div>
  
        <div class="btn-center">
          <button class="btn">Save New Listing</button>
        </div>
      </form>
  
      <hr>
  
  
  
    </body>
  </html>
  
