
:root{
  --show-listing-width:85%;
}


.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    /* row-gap: 3rem; */
  }
  .list-img{
      width: 20vw;
      height: 20vw;
      object-fit:cover;
    border-radius: 10px;
  }
  .list-img-lg{
    width: var(--show-listing-width);
    height: 25vw;
    border-radius: 10px;
  }
  .list-name{
    text-align: center;
    padding: 0 1rem;
  }
  .list-item{
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:1.5rem;
    width: 30%;
    text-decoration: none;
    color: black;
  }

  .list-item div{
    width: var(--show-listing-width);
    margin-bottom: 1vw;
    /* background-color: #FF385C; */
  }

  .w-100{
    width: 100%;
  }
  .no-border{
    border: none;
  }

  .crud-btn{
    border: none;
    padding: 1rem 2rem;
    background-color: yellow;
    font-weight: bold;
    font-size: large;
  }

  .btns{
    margin: 2rem 0 2rem;
    display: flex;
    justify-content: space-evenly;
  }

  .btn-green{
    background-color: rgb(6, 192, 6);
  }
  .btn-red{
    background-color: red;
  }








.item-details-parent{
  margin-inline: calc((100% - var(--show-listing-width)) / 2);
  display: flex;
  justify-content: space-between;
}

.item-details{
  
  width: 50%;
  position: relative;
}

.price-card{
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.644);
  border: 2px solid black;
  position: sticky;
  margin-top: 3vw;
  top: 8vw;
  right: 0;
  height: 25vw;
  padding: 1.2rem;
}

.price{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.9rem;
}
.stay-info{
  /* border: 2px solid black; */
  border-radius: 10px;
  padding: 0.5rem;
}
.stay-dates{
  display: flex;
}
.check-in{
  border: 2px solid black;
  border-right: 1px solid black;
  border-radius: 10px 0 0 0;
}
.check-out{
  border: 2px solid black;
  border-left: 1px solid black;
  border-radius: 0 10px 0 0;
}
.stay-checks{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.guest{
  border: 2px solid black;
  border-top: 0;
  border-radius: 0 0 10px 10px;
  padding: 0.5rem;
  width: 100%;
}


.reserve-btn{
  width: 100%;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 10px;
  margin-block: .8rem;
}

.reserve-btn + p{
  text-align: center;
}